{% extends "layout.html" %}

{% block body %}
    <div class="top-1">
        <center><h3>about</h3></center>
        <div style="text-align: left;" class="top2">
            <br>
            We (<a id="about-link" href="https://in.linkedin.com/in/hwaseem04">Muhammad Waseem</a>, <a id="about-link" href="https://in.linkedin.com/in/ashvanth-s-351057227">Ashvanth</a>) have developed this application to make it ease for researchers in academia and industry to keep up with ongoing rapid research 
            advancements. We provide them with weekly research papers based on their research interest, so it reduces their time and anxiety to 
            search it online manually.

            <br><br>
            To quickly go through the papers at glance we have provided a special feature that <b>summarises the text</b> from research paper, 
            upon copy pasting in the provided text box.
        </div>
    </div>


{% endblock %}