<!DOCTYPE html>
<html>
    <head>
        <title>
            Research Digest
        </title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="static/styles.css">
        
    </head>
    <body>
        <div id="header">
            <div class="c1" id="title">
                <a id="logout-link" href="\profile"><h4>Research Digest</h4></a>
            </div>
            <div class="c1" id="logout">
                <a id="logout-link" href="\logout">logout </a>
                
                <a id="logout-link" href="\about"> about</a>
            </div>
        </div>
        {% block body %}{% endblock %}
        </div>
    </body>
</html>